
@{
              

                ViewBag.Title = "DoctorViewSchedule";
}

<body style="background-image:url(../images/qqq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:400px;
  ">
    <style>

        .head {
            font-family: Arial;
            font-size: 44px;
            margin-top: 50px;
            color: white;
        }

        .img-circle {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: white;
            margin-top: 60px;
            background-color: darkgrey;
            border-style: solid;
            border-color: darkgrey;
            opacity: 0.9;
        }

            .img-circle:hover {
                border-style: solid;
                border-color: white;
                background-color: darkturquoise;
            }

        #circle2 {
            width: 300px;
            height: 350px;
            border-radius: 50%;
            background: white;
            position: relative;
            margin-top: 100px;
            margin-left: 450px;
        }

        #circle2 {
            width: 300px;
            height: 350px;
            border-radius: 50%;
            background: white;
            position: relative;
            margin-top: 100px;
            margin-left: 950px;
        }
    </style>
    <h1 class=" head" style="text-align:center"> <u><b>VIEW SCHEDULE AND REQUESTS </b></u> </h1>
    <div class="row ">

        <a href="http://localhost:58872/Doctor/DoctorClinicSchedule">
            <div class="img-circle col-md-2.5" style="margin-left:20px">
                <h2 class="text" style=" color:white; margin-top:115px;text-align:center "><b>VIEW CLINIC SCHEDULE</b></h2>
            </div>
        </a>
        <a href="http://localhost:58872/Doctor/DoctorHospitalSchedule">
            <div class="img-circle col-md-2.5" style="margin-left:50px">
                <h2 class="text" style="color:white;margin-top:115px;text-align:center"><b>VIEW HOSPITAL SCHEDULE</b></h2>
            </div>
        </a>
        <a href="http://localhost:58872/Doctor/DoctorClinicRequests">
            <div class="img-circle col-md-2.5" style="margin-left:50px">
                <h2 class="text" style="color:white;margin-top:115px;text-align:center"><b>VIEW CLINICS REQUESTS</b></h2>
            </div>
        </a>
        <a href="http://localhost:58872/Doctor/DoctorHospitalRequests">
            <div class="img-circle col-md-2.5" style="margin-left:50px">
                <h2 class="text" style="color:white;margin-top:115px;text-align:center  "><b>VIEW HOSPITAL REQUESTS</b></h2>
            </div>
        </a>
        <div class="form-group">
            <div class="col-md-7 colset-md-offset-7">
                <a href="http://localhost:58872/Doctor/DoctorWelcome">
                    <input style="margin-top:50px;height:50px;width:120px" type="button" name="" class="btn " value="BACK" />
                </a>
            </div>
        </div>

    </div>





</body>





