
@{
    ViewBag.Title = "DoctorAnnouncement";
}
<head>
    <style>
        .text1{
            
        }
        .form1 {
            
        }
    </style>
</head><body style="background-color:white">
           <div class="row">
               <div class="col-md-3">

                   <img src="../images/speaker.jpg" style="height: 456px;
    width: 300px; position:relative;top:120px;left:10px" />

               </div>
               <div class="col-md-4 ">
                   <form>
                       <div class="form-group">
                           <label style="font-family:Arial;font-size:25px;position:relative;top:75px;left:10px">Any Announcement :</label>
                           <input type="text" name="name" class="form-control" placeholder="Enter any Announcement" style="border:5px solid black;font-family:Arial;font-size:22px;height:300px;width:100%; position:relative;top:100px;left:10px" />
                       </div>
                   </form>
                   <div class="form-group">
                       <input style="font-family:Arial;font-size:22px;position:relative; top:180px;left:10px" type="submit" name="" class="btn btn-primary" value="Submit" onclick="return confirm('Are you sure you want to submit')" />
                       <input style="font-family:Arial;font-size:22px;position:relative;top:180px;left:10px" type="reset" name="" class="btn btn-danger" value="Reset" onclick="return confirm('Are you sure you want to edit')" />
                   </div>
               </div>
               <div class="col-md-5 ">
                   <form>
                       <div class="form-group">
                           <label style="font-family:Arial;font-size:25px;position:relative;top:75px;left:10px">Previous Annoucements :</label>
                           <br />
                           <text class="form1" style="height:300px;width:100%; position:relative;top:100px;left:10px"><ul><li style="font-family:Arial;font-size:22px;">I shall not be available on 10th october</li><br /><li style="font-family:Arial;font-size:22px;">My Friday Timings will be changed for 26 october </listyle="border:></ul></text>
                       </div>
                   </form>

               </div>
               <div class="form-group">
                   <div class="col-md-12 colset-md-offset-12">
                       <a href="http://localhost:58872/Doctor/DoctorWelcome">

                           <input style="margin-top:100px;margin-left:300px;height:50px;width:120px" type="button" name="" class="btn " value="BACK" />
                       </a>

                   </div>
               </div>


           </div></body>


