
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<!DOCTYPE HTML>

@{
    ViewBag.Title = "Welcome";
}
<head>
    <style type="text/css">
        .circle {
            text-align: center;
            width: 25%;
        }
    </style>
</head>
<body>
    <div class="container"> <h1 style="text-align:center"> </h1> </div>
    <div class="circle"></div>
</body>







