
@{
    ViewBag.Title = "PatientInformation";
}



<body style="background-image:url(../images/ss.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:690px;">
    <div class=" container">
        <h1 style="margin-top:50px;font-family:Arial;font-size:35px; margin-bottom:50px; text-align:center"><b>CLINIC PATIENTS LIST</b></h1>
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th style="font-family:Arial;font-size:24px">
                    Doctor Name
                    </th>
                    <th style="font-family:Arial;font-size:24px">
                        Patient Name
                    </th>
                    <th style="font-family:Arial;font-size:24px">Time Slot</th>
                    <th style="font-family:Arial;font-size:24px">Date</th>
                    <th style="font-family:Arial;font-size:24px">Day</th>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">11:00 am</td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Nida Iqbal</td>
                    <td style="font-family:Arial;font-size:24px">10:00 am </td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Hiba Azam</td>
                    <td style="font-family:Arial;font-size:24px">12:00 pm </td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Syeda Khadija</td>
                    <td style="font-family:Arial;font-size:24px">1:00 pm </td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Ahmad</td>
                    <td style="font-family:Arial;font-size:24px">5:00 pm </td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Butt Sahab</td>
                    <td style="font-family:Arial;font-size:24px">5:30 pm </td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
                <tr>
                    <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                    <td style="font-family:Arial;font-size:24px">Rauf Khan Niazi</td>
                    <td style="font-family:Arial;font-size:24px">6:00 pm </td>
                    <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                    <td style="font-family:Arial;font-size:24px">Monday</td>
                </tr>
        </table>

    </div>
    
        <div class=" container">
            <h1 style="margin-top:50px;font-family:Arial;font-size:35px; margin-bottom:50px; text-align:center"><b>HOSPITAL PATIENTS LIST</b></h1>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <th style="font-family:Arial;font-size:24px">
                            Doctor Name
                        </th>
                        <th style="font-family:Arial;font-size:24px">
                            Patient Name
                        </th>
                        <th style="font-family:Arial;font-size:24px">Time Slot</th>
                        <th style="font-family:Arial;font-size:24px">Date</th>
                        <th style="font-family:Arial;font-size:24px">Day</th>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">11:00 am</td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Nida Iqbal</td>
                        <td style="font-family:Arial;font-size:24px">10:00 am </td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Hiba Azam</td>
                        <td style="font-family:Arial;font-size:24px">12:00 pm </td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Syeda Khadija</td>
                        <td style="font-family:Arial;font-size:24px">1:00 pm </td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Ahmad</td>
                        <td style="font-family:Arial;font-size:24px">5:00 pm </td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Butt Sahab</td>
                        <td style="font-family:Arial;font-size:24px">5:30 pm </td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial;font-size:24px">Maham Asif</td>
                        <td style="font-family:Arial;font-size:24px">Rauf Khan Niazi</td>
                        <td style="font-family:Arial;font-size:24px">6:00 pm </td>
                        <td style="font-family:Arial;font-size:24px">10/13/2018</td>
                        <td style="font-family:Arial;font-size:24px">Monday</td>
                    </tr>
            </table>
            
        </div>
    </body>



