
@{
    ViewBag.Title = "RegisterDoctor";
}
<html>
<head>
    <style type="text/css">

        body {
            background-image: url(../images/qqq.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 500px;
        }

        .registration {
            color: black;
            font-size: 40px;
            font-family: Agency FB;
            font-weight: 700;
            border-bottom-style: ridge;
        }

        .row {
        }

        .btn.hover {
            background-color: aqua;
        }

        label {
            font-size: 22px;
        }

        .btn-danger {
            border-radius: 0px;
        }
    </style>
  <!--  var result = confirm("Want to delete?");
    if (result) {
    //Logic to delete the item
    }-->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id=" form" style=" background-color: white;height:650px;opacity:0.9;

    ">
                <center style="text-align:center; padding-top: 60px;padding-bottom:60px"><b class="registration">DOCTOR Registeration</b></center>
                <form>
                    <div class="form-group">
                        <label>Doctor ID :</label>
                        <input type="text" name="name" class="form-control text" placeholder="Enter Doctor ID" style="font-size: 22px;height:50px;min-width:550px" required>
                    </div>
                    <div class="form-group">
                        <label>Email :</label>
                        <input type="text" name="name" class="form-control text" placeholder="Enter Your Email" style="font-size: 22px;height:50px;min-width:550px" required>
                    </div>
                    <div class="form-group">
                        <label>Password :</label>
                        <input type="text" name="name" class="form-control text" placeholder="Enter Your Password" style="font-size: 22px;height:50px;min-width:550px" required>
                    </div>


                    <div class="form-group">
                        <a href="~/Admin/DoctorInformation" class="btn btn-info" role="button">Register</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
    </body>
</html>





